
.navbar-brand{
  font-size: 15px;
}

 @media (max-width: 768px) {
  .header-image {
    width: 70%;
    left: 158px; 
  }
}
main .primera {
  margin-top:7.5em;
  margin-left: 0.5em;
}
@media (max-width: 600px) {
  main .botonimagen {
    top: 180px;
    left: 28px; 
  }
}
@media (min-width: 1000px) {
  main .botonimagen {
    top:185px;
    left: 228px; 
  }
}
@media (min-width: 800px) {
  main .primera {
    margin-top: 6.8em; 
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
.botonimagen{
  position: absolute;
  display:grid;
  top:158px;
  left: 55px;
  color: black;
  font-weight: bolder;
  text-align: center;
  border: 0.3em ridge rgb(165, 89, 42) ;
  border-radius: 10%;
}
@media (max-width: 768px) {
  .botonimagen {
    top: 10px;
    left: 10px;
  }
}


.carrusel{
  background-color: whitesmoke;
  margin:0;
  padding: 0;
}
.textocarrusel{
  background-color: aliceblue;
  margin-top: 1em;
  font-family: 'Trebuchet MS';
  font-weight: bold;
  text-align: center;
  
}
.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (min-width: 600px) {
  .carousel-item {
    width: 50%;
    left: 400px;
  }
}
@media (max-width: 600px) {
  .carousel-item {
    width: 70%;
    top: 10px;
    left: 94px;
    
  }
}
@media (max-width: 600px) {
  .carousel-control-prev {
    bottom: 200px;
    left: 5px;
  }
}
@media (min-width: 1000px) {
  .carousel-control-prev {
    bottom: 80px;
    left: 150px;
  }
}
@media (max-width: 600px) {
  .carousel-control-next {
    bottom: 200px;
    right: 5px;
  }
}

@media (min-width: 1000px) {
  .carousel-control-next {
    bottom: 100px;
    right: 150px;
  }
}

.social {
  list-style: none;
  background-color: transparent;
 }

    .parrafo{
      font-weight: lighter;
    }
