
.navbar-brand{
  font-size: 15px;
}

 @media (max-width: 768px) {
  .header-image {
    width: 70%;
    left: 158px; 
  }
}
main .primera {
  margin-top:7.5em;
  margin-left: 0.5em;
}
@media (max-width: 600px) {
  main .botonimagen {
    top: 180px;
    left: 28px; 
  }
}
@media (min-width: 1000px) {
  main .botonimagen {
    top:185px;
    left: 228px; 
  }
}
@media (min-width: 800px) {
  main .primera {
    margin-top: 6.8em; 
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
  }
}
.botonimagen{
  position: absolute;
  display:grid;
  top:158px;
  left: 55px;
  color: black;
  font-weight: bolder;
  text-align: center;
  border: 0.3em ridge rgb(165, 89, 42) ;
  border-radius: 10%;
}
@media (max-width: 768px) {
  .botonimagen {
    top: 10px;
    left: 10px;
  }
}


.carrusel{
  background-color: whitesmoke;
}
.textocarrusel{
  background-color: aliceblue;
  margin-top: 1em;
  font-family: 'Trebuchet MS';
  font-weight: bold;
  text-align: center;
  
}
.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@media (min-width: 1000px) {
  .carousel-item {
    width: 50%;
    left: 350px;
  }
}
@media (max-width: 600px) {
  .carousel-item {
    width: 70%;
    top: 10px;
    left: 94px;
    margin-bottom: 0%;
  }
}
@media (max-width: 600px) {
  .carousel-control-prev {
    bottom: 200px;
    left: 5px;
  }
}
@media (min-width: 1000px) {
  .carousel-control-prev {
    bottom: 80px;
    left: 150px;
  }
}
@media (max-width: 600px) {
  .carousel-control-next {
    bottom: 200px;
    right: 5px;
  }
}

@media (min-width: 1000px) {
  .carousel-control-next {
    bottom: 100px;
    right: 150px;
  }
}
.social {
  list-style: none;
  background-color: transparent;
 }

/* .image-text-container {
  display: flex; 
  align-items: center; 
  justify-content: space-between; 
}

      .left-image {
          flex: 1; 
          margin-left: 400px; 
      }

      .right-image {
          flex: 1; 
          
      }
      .text-left {
          flex: 1;
          margin-left: 00px;
          
      }
      .text-right {
        flex: 1;
        margin-left: 50px; 
    }
      .enun{
        font-family: Impact, sans-serif;
        font-size:xx-large;
      } */
      .image-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .image-with-text {
        display: flex;
        align-items: center;
        margin: 20px 0;
    }
    
    .image-with-text img {
        max-width: 100%;
        height: auto;
    }
    
    .text-left {
        text-align: left;
        margin-left: 20px;
    }
    
    .text-right {
        text-align: right;
        margin-right: 20px;
    }
    